.cocktailsection{
    width:100%;
    position:relative;
}
.btn{
    position:absolute;
    padding:15px;
    color:#fff;
    top:0; 
    right: 20px;
    border-radius:5px;
}
.sectiontitle{
    font-size:2em;
    font-weight:800;
    color:#fff;
    margin:20px 0;
}
.drink{
    width:90%;
    margin:0 5%;
    padding:20px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.drink img{
    width:45%;
    border:3px solid #3d3d3d;
    border-radius: 20px;
}
.drinkinfo{
    text-align:left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.drinkinfo  span{
    font-size:1em;
    font-weight:800;
    color:rgb(200, 200, 200);
}
.drinkinfo p{
    font-size:1.3em;
    font-weight:400;
    margin: 20px 0;
    color:rgb(117, 117, 117);
}
.nosectiontitle{
    font-size:3em;
    font-weight:800;
    color:#fff;
    margin-top:200px;
}
@media(max-width:850px) {
    .drink{
        flex-direction: column;
    }
    .drinkinfo  span{
        font-size:0.8em;
    }
    .drinkinfo p{
        font-size: 1em;
    }
}
