.form_control{
    width:45%;
    display:flex;
    flex-direction:column;
    align-items:left;
    margin:0 auto;
}
.form_control label{
    color:#fff;
    text-align:left;
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:0.5em;
}
.input{
    width:100%;
    padding:20px;
    border-radius: 25px;
    border:none;
    outline:none;
}